* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, sans-serif;
  background-color: black;
  font-size: 16px;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: url(../../resources/images/background.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    z-index: -1;
  }
}

a, button {
  cursor: pointer;

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  color: #333;

  .appContainer {
    width: 100%;
  }
}
