{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/require-extension": "off",
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "react/jsx-no-bind": "off",
    "react/prop-types": "off",
    "consistent-return": "off",
    "space-before-function-paren": "off",
    "object-shorthand": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "camelcase": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "new-cap": "off",
    "class-methods-use-this": "off",
    "react/prefer-stateless-function": "off",
    "import/no-unresolved": "off",
    "func-names": "off",
    "react/sort-comp": "off",
    "generator-star-spacing": "off",
    "import/newline-after-import": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
