.dailyTracks {
  margin-top: 3.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;

  @media screen and (width <= 480px) {
    margin-left: 0;
    margin-right: 0;
  }

  .dateContainer {
    text-align: left;
  }

  .date {
    color: white;
    background-color: #fa4c29;
    text-transform: uppercase;
    font-family: Tahoma, Arial;
    padding: 3px 5px;
    font-size: 0.8125rem;
    display: inline-block;
  }
}
